<div class="row d-flex justify-content-center">
  <div class="col-11">
    <div class="col-12 mb-4 p-3 rounded shadow-sm">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <mat-card class="p-4">
          <mat-card-content>
            <div class="d-flex justify-content-between mb-2">
              <div>
                <h2 class="mb-3">{{ course.title }}</h2>
                <h5 class="">{{ course.semester }}</h5>
              </div>


              <button mat-flat-button class="secondary-button">
                <mat-icon class="me-2 ">assignment</mat-icon>
                Enroll Student
              </button>
            </div>


      <div class="mb-5 lh-lg">
        {{ course.description }}
      </div>
      </mat-card-content>
      </mat-card>
      </div>
      <mat-tab-group animationDuration="800ms">
        <mat-tab label="Lessons">
          <app-lessons-tab [course_id]="course.id"></app-lessons-tab>
        </mat-tab>
        <mat-tab label="Enrollments">
          <app-enrollments-tab [course_id]="course.id"></app-enrollments-tab>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
