<div class="shadow-sm mb-5">
  <mat-form-field class="col-12">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search.." #input>
  </mat-form-field>
  <table id="student-table" mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="" mat-sort-header sortActionDescription="Sort by Id"> Id</th>
      <td mat-cell *matCellDef="let student" class=""> {{ student.id }}</td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef class="" mat-sort-header sortActionDescription="Sort by First Name"> First
        Name
      </th>
      <td mat-cell *matCellDef="let student" class=""> {{ student.firstName }}</td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef class="" mat-sort-header sortActionDescription="Sort by Last Name"> Last
        Name
      </th>
      <td mat-cell *matCellDef="let student" class=""> {{ student.lastName }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="" mat-sort-header sortActionDescription="Sort by Email"> Email</th>
      <td mat-cell *matCellDef="let student" class=""> {{ student.email }}</td>
    </ng-container>
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef class="" mat-sort-header sortActionDescription="Sort by First Age"> Age</th>
      <td mat-cell *matCellDef="let student" class=""> {{ student.age }}</td>
    </ng-container>
    <ng-container matColumnDef="currentYear" class="">
      <th mat-header-cell *matHeaderCellDef class="" mat-sort-header sortActionDescription="Sort by Year"> Year</th>
      <td mat-cell *matCellDef="let student" class=""> {{ student.currentYear }}nd</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="text-center p-0"> Action</th>
      <td mat-cell *matCellDef="let student" class="text-center p-0">
        <button mat-mini-fab class="me-3" matTooltip="View Enrollments" (click)="openViewEnrollmentsDialog(student.id)">
          <mat-icon>view_sidebar</mat-icon>
        </button>
        <button mat-mini-fab class="secondary-button me-3" matTooltip="Edit Student">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab class="tertiary-button" matTooltip="Remove Student">
          <mat-icon>person_remove</mat-icon>
        </button>

      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class=""></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="cell"></tr>

    <tr class="mat-row text-center" *matNoDataRow>
      <td class="mat-cell p-3" colspan="12">No data matching the search "{{ input.value }}"</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of students">
  </mat-paginator>
</div>

