<mat-toolbar class="shadow-sm">

  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav opened="!collapsed()" mode="side" [style.width]="sideNavWidth()">
    <app-custom-sidenav [collapsed]="collapsed()"></app-custom-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="content no-scroll p-4" [style.margin-left]="sideNavWidth()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>